[submodule "src/server"]
	path = src/server
	url = git@github.com:beyondaltv/altv-server.git
[submodule "src/webview"]
	path = src/webview
	url = git@github.com:beyondaltv/altv-webview.git
[submodule "sites/admin"]
	path = sites/admin
	url = git@github.com:beyondaltv/sites-admin.git
